@media only screen and (max-width: 991px) {
   .container{
    max-width: 100% !important;
    padding: 0 40px !important;
   }
   .main-services-part {
    padding: 35px;
    background-color: #333F51;
  }
  .width-custom-70{
    width: 80%;
  }

h1.heading-one {
  font-size: 42px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin: 0;
  padding-bottom: 15px; 
}
  
  h2.heading-two{
  
      font-size: 28px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: -0.02em;   
      margin: 0; 
      padding-bottom: 10px;

  }
  h3.heading-three{
  
      font-size: 28px;
      font-weight: 600;
      line-height: 38px;
      margin: 0;
      
  }
  h5.heading-five{
    font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;
      margin: 0;
      padding-bottom: 10px;
  }
  h6.heading-six{
    font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;
      margin: 0;
      padding-bottom: 5px;
  }
  /* header */
  a.nav-link.active{
    border: none;
  
  }
  li.nav-item {
    font-size: 16px;
    padding: 8px;
}
  
  /* home here section */
  .home-body{
    width: 90%;
  }
  .home-hero-section{
    height: 700px;
  }
   /* home-about */
   .about-part {
    padding: 30px;

}
/* form css  */
.form-wrapper {
    padding: 40px;
    max-width: 90%;
}


  }
 

@media only screen and (max-width: 767px) {

   .container{
    max-width: 100% !important;
    padding: 0 20px !important;
   }
   .custom-flex{
    flex-direction:column;
    gap: 40px;
  }
  h1.heading-one {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin: 0;
    padding-bottom: 15px; 
  }
    
    h2.heading-two{
    
        font-size: 30px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -0.02em;   
        margin: 0; 
        padding-bottom: 10px;
        
    }
    h3.heading-three{
    
        font-size: 28px;
        font-weight: 600;
        line-height: 38px;
        margin: 0;
        
    }
  .custom-flex-left, .custom-flex-right{
    width: 100%;
  }
  .order-rigth{
    order: -1;
  }

   .width-custom-70{
    width: 100%;
  }
  /* header */
  phone-nav-wrapper {
    height: 100vh;
    padding-top: 20px;
}
  /* .main-services */
  
   .main-services-part {
    padding: 20px;
    background-color: #333F51;
}
   .main-services-body{
    gap: 20px;
   }


     /* home here section */
  .home-body{
    width: 100%;
    padding: 0 20px;
  }
  .home-hero-section{
    height: 650px;
  }
    /* home-about */
    .about-part {
      padding: 25px;
  
  }

   /* contact */
   .contact-section-body{
    flex-direction: column;
    
   }
   .contact-details{
    width: 100%;
    padding-bottom: 40px;
   }
   .contact-form{
    width: 100%;
   }
   .submit-button{
    width: 100%;
    padding: 10px 0;
   }
/* Contact Us Section */
.contact-form-wrapper{
  width: 100%;
}

/* form css  */
.form-wrapper {
  padding: 40px;
  max-width: 100%;
}
.input-box-div label {
  font-size: 16px;
}
.input-box-div input, .form-control {
  font-size: 16px;
    padding: 10px;
}
.input-box-wrapper{
  grid-template-columns: 1fr;
  gap: 20px;
}

  }
@media only screen and (max-width: 585px) {
   .container{
    max-width: 100% !important;
    padding: 0 10px !important;
   }
       /* home here section */

  /* home-about */
  .about-part {
    padding: 20px;
    margin: 8px;

}
   /* main-services */
   .main-services-body{
    grid-template-columns: auto;
   }
   /* contact */
   .contact-form-wrapper {
    padding: 25px;

}
   /* why choose us  */
   .choose-list-body{
    gap: 30px;
   }
   .choose-list{
    flex-direction: column;
   }
   /* form css  */
.form-wrapper {
  padding: 20px;

}
.main-services-part {
  padding: 15px;
  background-color: #333F51;
}
}
@media only screen and (max-width: 500px){

  .footer-top-part, .footer-bottom-part{
    flex-direction: column;
    gap: 20px;
    border: none; 
    padding-top: 20px;
   }

  .footer .copyright {
    order: 2;
  }
  .footer-nav{
  flex-wrap: wrap;
  }


}

  @media only screen and (max-width: 430px){
    /* contact */
    h6.heading-six {
      font-size: 18px;
      padding: 0;

  }
  .body-text{
    font-size: 14px;
  }
  .contact-details .contact-info .info-item .icon img{
    width: 40px;
    height: 40px;
  }
  .contact-details .contact-info .info-item {

    gap: 10px;
}
  }